@font-face {
  font-family: "Grotesc";
  src: url("./assets/fonts/Grotesc.otf");
}
@font-face {
  font-family: "YingHei";
  src: url("./assets/fonts/YingHei.otf");
}
@font-face {
  font-family: "Ballpoint";
  src: url("./assets/fonts/Ballpoint.otf");
}
@font-face {
  font-family: "Maelstrom";
  src: url("./assets/fonts/Maelstrom.ttf");
}
@font-face {
  font-family: "Girlfriend";
  src: url("./assets/fonts/Girlfriend.ttf");
}
@font-face {
  font-family: "Migra";
  src: url("./assets/fonts/Migra.otf");
}
@font-face {
  font-family: "Tradi";
  src: url("./assets/fonts/Tradi.ttf");
}
@font-face {
  font-family: "Aurora";
  src: url("./assets/fonts/Aura.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2A2A2A; */
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: white;
}
body::-webkit-scrollbar-thumb{
  background: #D2A6FB;
  border-radius: 1px;
}
