header{
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px;
}
.NavItem{
    width: 100%;
    color: white;
    padding: 10px 26px;
    font-family: YingHei;
    list-style-type:none;
}
.NavItem:hover{
    color: #2A2A2A;
    background-color: white;
    cursor: pointer;
}

.HeaderName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.navContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.navLink{
    text-decoration: none;
    list-style-type: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
.navLink:hover{
    text-decoration: underline;
}
.by{
    color: white;
    font-size: 16px;
    text-align: start;
    font-weight: bold;
}
.Name{
    font-family: Migra;
    color: white;
    font-size: 36px;
    font-weight: 100;
}